@charset "utf-8";
@font-face{
    font-family:seoulmilk;
    src:url('../font/SEOULMILK 500mL TTF.eot');
    src:url('../font/SEOULMILK 500mL TTF.eot?#iefix')format('embedded-opentype'),
            url('../font/SEOULMILK 500mL TTF.ttf')format('truetype'),
            url('../font/SEOULMILK 500mL TTF.woff')format('woff');
}
body,h1,h2,input,button{font:normal 15px/1.5em seoulmilk,sans-serif; }
#join_container{width: 600px; margin: 50px auto; background-color: antiquewhite; padding: 10px;
}

#join_container>h1{width: 100%; height: 50px; line-height: 50px; background-color: lightpink; font-size: 30px;}
#agr_left{float: left;  width: 500px; height: 30px; line-height: 30px; font-size: 18px}
#agr_right{float: right;  width: 500px; height: 30px; line-height: 30px; text-align: right; }
#agr_right p{display: inline; margin-left: 5px; }
#agr_right p:nth-child(2){border-bottom: 5px solid lightpink;}

#join{margin: 30px 10px; }
legend{font-size: 17px;}
inputtype:text{width: 200px;}
.join1 label{width: 150px; height: 30px;  display: inline-block; text-align: left; line-height: 30px; margin-right: 10px; color: red; } 


#u_pwd>label{width: 400px;}
#join label{margin-top: 20px;}
.join1{margin: 30px 30px;}
.join1 span{display: block;}
#u_pwd2,#u_pwd2,#u_name{display: block;}
#phone1,#phone2,#phone3{width: 100px; margin: 0 10px;}
#phone1, .u_email{height: 32px; text-align: center; background-color: #eaeaea}
#phone1_wrap button{width: 100px;  height: 29px; margin-right: 5px; background-color: #cccccc;  border-radius: 5px; border: none; font-size: 12px;}
#phone1_wrap button:hover{background-color: #fff; border: 1px solid #cccccc; cursor: pointer;}

.btn{height: 100px; text-align: center;line-height: 150px;}
.btn input,.btn button{width: 150px;  height: 50px; margin: 0 10px; background-color: #cccccc;  border-radius: 5px; border: none; font-size: 15px;}
.btn input:hover .btn button:hover{background-color: lightpink;cursor: pointer;}

input[type=text]{width: 150px}