@charset "utf-8";

body,h1,h2,input{font:normal 15px/1.5em seoulmilk,sans-serif; }


@font-face{
    font-family:seoulmilk;
    src:url('../font/SEOULMILK 500mL TTF.eot');
    src:url('../font/SEOULMILK 500mL TTF.eot?#iefix')format('embedded-opentype'),
            url('../font/SEOULMILK 500mL TTF.ttf')format('truetype'),
            url('../font/SEOULMILK 500mL TTF.woff')format('woff');
}
a{color: #000;}

#login_wrap{width: 1000px; height: 500px;  margin: 100px auto; box-sizing: border-box; }

.login_l{float: left; width: 500px; height: 500px; }

.login_l h2{text-align: center; font-size: 50px; color: lightcoral;}
.login_l>p{margin-top: 20px;margin-left: 120px;  font-size: 14px; color: #333333;}



.login_r{width: 500px; float: left; height: 90px; position: relative;}
.u_id input,.u_pwd input{width: 300px; height: 30px;  border: none; outline: none; border-bottom: 1px solid black; }
.u_id input{margin-top: 20px;}
.login{position: absolute; right: 0px; top: 20px;}
.login input{ width: 150px; height: 70px; border: none; background-color: lightcoral; border-radius: 10px;font-weight: bold; font-size: 15px; color: aliceblue; transition: all 0.3s; cursor: pointer;}
.login input:hover{background-color: aliceblue; color: #000;}

#logbtn{width: 500px; height: 50px; line-height: 50px; }
#logbtn div{float: right; height: 50px; }
#logbtn div button{border: none; background-color: transparent;  cursor: pointer;}
#Findpwd::before{content: ""; border-left: 1px solid #333333; padding-right: 15px; }

.joinbtn{border: 1px solid pink; height: 100px; padding: 10px; box-sizing: border-box; background: url(../image/right_icon.png) no-repeat;background-position: 430px center; cursor: pointer;  }
.joinbtn span,.joinbtn strong{display: block;margin-top: 10px; font-size: 14px;}
.joinbtn strong{color : lightpink; font-size: 18px;}
